.container{
    background:rgb(156, 156, 156);
    border-top:1px dashed black;
    border-bottom:1px dashed black;
    border-left:1px dashed black;
    border-right:1px dashed black;
    padding:1rem 1rem 2rem 1rem;
    margin:2rem 1rem 2rem 0;
    border-radius:15px;
    box-shadow:-3px 20px 10px 5px rgb(172, 170, 170),3px 20px 10px 5px rgb(172, 170, 170);
}