.b{
    color:white;
    background:#c00;
    
    border-radius:10px;
    width:100%;
    height:50px;
    

    align-items: center;
   
}
.h{
    height:50px;
    margin-top:20px;
    margin-bottom:20px;
    
}